html,
body,
#root,
.main {
  height: 100%;
}

.main {
  position: relative;
}

body {
  margin: 0;
  font-family: 'Ropa Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-size: 20px;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #1a76e5;
}

h1, h2 {
  font-family: 'Ranchers', cursive;
  color: #ffffff;
  text-shadow: 2px 2px #5a5959;
  margin-top: 0;
}